@use '../../../../assets/responsiveSize/mixin' as mixin;

.wrapper {
    height: 60px;
    --search-border-radius: 30px;

    .inner {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .search-bar-and-offcanvas {
            display: flex;

            .offcanvas-icon {
                display: none;
                font-size: 20px;
                color: var(--primary-color-text);
                background-color: transparent;
                cursor: pointer;
            }
        }

        .task-bar {
            display: flex;
            flex-direction: row;
            align-items: center;

            .notification {
                display: flex;
                cursor: pointer;
                position: relative;
                margin-right: 37px;

                .notification-icon {
                    font-size: 50px;
                    color: var(--primary-color-text);
                    background-color: transparent;
                    cursor: pointer;
                }

                .counter {
                    width: 20px;
                    height: 20px;
                    background-color: red;
                    border-radius: 50%;
                    font-size: 15px;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: -2px;
                    right: -2px;
                }
            }

            .sortdown-btn {
                font-size: 33px;
                margin-left: 28px;
                color: var(--primary-color-text);
                background-color: transparent;
                cursor: pointer;
            }
        }
    }
}

@include mixin.mobile {
    .wrapper {
        .inner {
            .search-bar-and-offcanvas {
                display: flex;
                align-items: center;
                gap: 10px;
                width: 50%;

                .offcanvas-icon {
                    display: flex;
                    font-size: 20px;
                    color: var(--primary-color-text);
                    background-color: transparent;
                    cursor: pointer;
                }
            }

            .task-bar {

                .notification {
                    margin-right: 10px;

                    .notification-icon {
                        font-size: 30px;
                    }

                    .counter {
                        width: 13px;
                        height: 13px;
                        font-size: 10px;
                    }
                }

                .sortdown-btn {
                    display: none;
                }
            }
        }
    }
}

@include mixin.tablet {
    .wrapper {
        .inner {
            .search-bar-and-offcanvas {
                display: flex;
                align-items: center;
                gap: 25px;
                width: 50%;

                .offcanvas-icon {
                    display: flex;
                    font-size: 20px;
                    color: var(--primary-color-text);
                    background-color: transparent;
                    cursor: pointer;
                }
            }

            .task-bar {

                .notification {
                    margin-right: 15px;

                    .notification-icon {
                        font-size: 30px;
                    }

                    .counter {
                        width: 13px;
                        height: 13px;
                        font-size: 10px;
                    }
                }

                .sortdown-btn {
                    font-size: 25px;
                }
            }
        }
    }
}

@include mixin.desktop {
    .wrapper {
        .inner {
            .search-bar-and-offcanvas {
                display: flex;
                align-items: center;
                gap: 30px;
                width: 50%;

                .offcanvas-icon {
                    display: flex;
                    font-size: 25px;
                    color: var(--primary-color-text);
                    background-color: transparent;
                    cursor: pointer;
                }
            }

            .task-bar {

                .notification {
                    margin-right: 15px;

                    .notification-icon {
                        font-size: 40px;
                    }

                    .counter {
                        width: 18px;
                        height: 18px;
                        font-size: 13px;
                    }
                }

                .sortdown-btn {
                    font-size: 25px;
                }
            }
        }
    }
}