.wrapper {
    margin-top: 26px;
    margin-left: 38px;
    height: 60px;
    --search-border-radius: 30px;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
}

.search {
    width: 628px;
    height: 56px;
    padding-left: 36px;
    display: flex;
    background-color: white;
    border-radius: var(--search-border-radius);
    border-color: #2A2A86;
    border-style: groove;

    input {
        flex: 1;
        height: 100%;
        color: gray;
        font-size: 15px;
        border: none;
        outline: none;
        background-color: transparent;
    }
}

.search-btn {
    width: 95px;
    height: 100%;
    background-color: #FCAF17;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left-color: #2A2A86;
    outline: none;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 25px;
    color: #2A2A86;
    cursor: pointer;
}

.task-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 300px;
}

.notification {
    display: flex;
    cursor: pointer;
    position: relative;
    margin-right: 37px;
}

.notification-icon {
    font-size: 50px;
    color: var(--primary-color-text);
    background-color: transparent;
    cursor: pointer;
}

.counter {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    font-size: 15px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -2px;
    right: -2px;
}

.sortdown-btn {
    font-size: 33px;
    margin-left: 28px;
    color: var(--primary-color-text);
    background-color: transparent;
    cursor: pointer;
}