.wrapper {
    display: flex;
    align-items: center;
}

.avatar-wrapper {
    height: 56px;
}

.avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    margin-left: 14px;
}

.name {
    font-size: 20px;
    font-weight: 700;
    color: black;
}

.time {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    color: rgba(42, 42, 134, 0.30);
}