.wrapper {
    display: inline-flex;
    align-items: center;
    padding: 9px 25px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    background-color: white;
    color: var(--primary-color-text);
}

.primary {
    background-color: var(--primary-color-text);
    color: white;
    text-decoration: none;
}

.orange {
    background-color: var(--primary);
    color: white;
    text-decoration: none;
}

.icon {
    width: 30px;
    height: 30px;
}

.icon+.title {
    margin-left: 15px;
}