.wrapper {
    display: inline-flex;
    align-items: center;
    padding: 9px 25px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.icon {
    color: var(--primary-color-text);
    height: 30px;
}

.title {
    color: white;
}

.icon+.title {
    margin-left: 15px;
}