@use '../../assets/responsiveSize/mixin' as mixin;

.container {
    margin-top: 38px;

    .search-and-sortbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .sortbar {
            .Dropdown-control {
                display: flex;
                width: 310px;
                height: 55px;
                border: 3px solid var(--primary-color-text);
                border-radius: 20px;
                align-items: center;
                padding-left: 30px;
                color: var(--primary-color-text);
                font-size: 18px;
                font-weight: 600;

                .arrow-closed {
                    border-color: #2A2A86 transparent transparent;
                    border-style: solid;
                    border-width: 10px 10px 0;
                    content: ' ';
                    display: block;
                    height: 0;
                    position: absolute;
                    right: 10px;
                    top: 20px;
                    width: 0
                }

                .arrow-open {
                    border-color: transparent transparent #2A2A86;
                    border-style: solid;
                    border-width: 0px 10px 10px;
                    content: ' ';
                    display: block;
                    height: 0;
                    position: absolute;
                    right: 10px;
                    top: 20px;
                    width: 0
                }

                .menu-open {
                    border-radius: 5px;
                }
            }
        }
    }

    .order-counter {
        margin-top: 35px;
        font-size: 18px;
        font-style: italic;
        font-weight: 700;
    }

    .order-table {
        margin-top: 35px;
        margin-bottom: 30px;
        height: 714px;
        display: flex;
        justify-content: center;
        background-color: white;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.65);
        border-radius: 20px;

        .table-content {
            width: 95%;

            .header-title {
                width: 100%;
                height: 5%;
                display: flex;
                justify-content: space-around;
                margin-top: 18px;
                font-weight: 700;
            }

            .detail-infos {
                height: 90%;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                overflow-y: scroll;

                .info-wrapper {
                    height: 8%;
                    display: flex;
                    padding-left: 7%;
                    align-items: center;
                    border-bottom: 3px solid #D9D9D9;

                    &:hover {
                        background-color: #f2f9fc;
                    }

                    .info {
                        display: flex;
                        width: 100%;
                        text-decoration: none;

                        .id {
                            width: 15%;
                        }

                        .name {
                            width: 28%;
                        }

                        .time {
                            width: 20%;
                        }

                        .value {
                            width: 20%;
                        }
                    }
                }
            }
        }
    }
}

.status-yellow {
    color: var(--primary);
    font-weight: 700;
}

.status-green {
    color: var(--green);
    font-weight: 700;
}

.status-red {
    color: var(--red);
    font-weight: 700;
}

.status-blue {
    color: var(--primary-color-text);
    font-weight: 700;
}

.status-lightblue {
    color: #29ADB2;
    font-weight: 700;
}

.status-lightgreen {
    color: #38E54D;
    font-weight: 700;
}

@include mixin.M-mobile {
    .container {
        margin-top: 15px;

        .search-and-sortbar {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .sortbar {
                .Dropdown-control {
                    display: flex;
                    width: 230px;
                    height: 35px;
                    padding-left: 10px;
                    font-size: 14px;

                    .arrow-closed {
                        border-width: 7px 7px 0;
                        top: 12px;
                    }

                    .arrow-open {
                        border-width: 0px 7px 7px;
                        top: 12px;
                    }

                    .menu-open {
                        border-radius: 5px;
                    }
                }
            }
        }

        .order-counter {
            margin-top: 15px;
            font-size: 14px;
        }

        .order-table {
            margin-top: 15px;
            margin-bottom: 20px;
            height: 600px;

            .table-content {
                width: 98%;

                .header-title {
                    height: auto;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    font-size: 11px;
                }

                .detail-infos {
                    height: 90%;
                    font-size: 9px;

                    .info-wrapper {
                        height: 9%;
                        display: flex;
                        padding-left: 0px;

                        &:hover {
                            background-color: #f2f9fc;
                        }

                        .info {

                            .id {
                                margin-right: 5px;
                            }

                            .name {
                                display: flex;
                                justify-content: center;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }
    }

    .status-yellow {
        width: 15%;
    }

    .status-green {
        width: 15%;
    }

    .status-red {
        width: 15%;
    }

    .status-blue {
        width: 15%;
    }

    .status-lightblue {
        width: 15%;
    }

    .status-lightgreen {
        color: #38E54D;
        font-weight: 700;
        width: 15%;
    }
}

@include mixin.L-mobile {
    .container {
        margin-top: 15px;

        .search-and-sortbar {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .sortbar {
                .Dropdown-control {
                    display: flex;
                    width: 230px;
                    height: 35px;
                    padding-left: 10px;
                    font-size: 14px;

                    .arrow-closed {
                        border-width: 7px 7px 0;
                        top: 12px;
                    }

                    .arrow-open {
                        border-width: 0px 7px 7px;
                        top: 12px;
                    }

                    .menu-open {
                        border-radius: 5px;
                    }
                }
            }
        }

        .order-counter {
            margin-top: 15px;
            font-size: 14px;
        }

        .order-table {
            margin-top: 15px;
            margin-bottom: 20px;
            height: 600px;

            .table-content {
                width: 98%;

                .header-title {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: space-around;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    font-size: 13px;
                }

                .detail-infos {
                    font-size: 12px;

                    .info-wrapper {
                        height: 9%;
                        padding-left: 5px;

                        &:hover {
                            background-color: #f2f9fc;
                        }

                        .info {

                            .id {
                                margin-right: 5px;
                            }

                            .name {
                                display: flex;
                                justify-content: center;
                                margin-right: 5px;
                            }

                        }
                    }
                }
            }
        }
    }

    .status-yellow {
        width: 15%;
    }

    .status-green {
        width: 15%;
    }

    .status-red {
        width: 15%;
    }

    .status-blue {
        width: 15%;
    }

    .status-lightblue {
        width: 15%;
    }

    .status-lightgreen {
        width: 15%;
    }
}