.container {
    margin-top: 38px;
}

.search-and-sortbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sortbar {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.dropdown-bar {
    width: 341px;
    height: 55px;
}

.Dropdown-control {
    display: flex;
    width: 310px;
    height: 55px;
    border: 2px solid var(--primary-color-text);
    border-radius: 20px;
    align-items: center;
    padding-left: 30px;
    color: var(--primary-color-text);
    font-size: 18px;
    font-weight: 500;
}

.Dropdown-control-season {
    display: flex;
    width: 207px;
    height: 55px;
    border: 2px solid var(--primary-color-text);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    align-items: center;
    padding-left: 30px;
    color: var(--primary-color-text);
    font-size: 18px;
    font-weight: 500;
}

.arrow-closed {
    border-color: #2A2A86 transparent transparent;
    border-style: solid;
    border-width: 10px 10px 0;
    content: ' ';
    display: block;
    height: 0;
    position: absolute;
    right: 10px;
    top: 20px;
    width: 0
}

.arrow-open {
    border-color: transparent transparent #2A2A86;
    border-style: solid;
    border-width: 0px 10px 10px;
    content: ' ';
    display: block;
    height: 0;
    position: absolute;
    right: 10px;
    top: 20px;
    width: 0
}

.menu-open {
    border-radius: 5px;
}

.order-counter {
    margin-top: 35px;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
}

.order-table {
    margin-top: 35px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.65);
    border-radius: 20px;
}

table {
    border-collapse: collapse;
    width: 95%;
    margin-top: 18px;
    margin-bottom: 100px;
}

td {
    text-align: center;
    border-bottom: 3px solid #D9D9D9;
    padding: 20px;
}

tr:hover {
    background-color: #f2f9fc;
    cursor: pointer;
}

.status-yellow {
    color: var(--primary);
    font-weight: 700;
}

.status-green {
    color: var(--green);
    font-weight: 700;
}

.status-red {
    color: var(--red);
    font-weight: 700;
}

.status-blue {
    color: var(--primary-color-text);
    font-weight: 700;
}