@use '../../assets/responsiveSize/mixin' as mixin;

.container {
    margin-top: 30px;

    .title-of-page {
        display: flex;
        font-size: 25px;
        font-weight: 700;
    }

    .title-and-filter {
        display: flex;
        justify-content: space-between;
        margin: 30px 0px 30px 0px;

        .filter-wrapper {
            display: flex;
            gap: 20px;

            .type-of-filter {
                font-size: 18px;

                .Dropdown-control {
                    display: flex;
                    width: 206px;
                    border: 3px solid var(--primary-color-text);
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                    align-items: center;
                    padding-left: 30px;
                    color: var(--primary-color-text);
                    font-size: 18px;

                    .arrow-closed {
                        border-color: #2A2A86 transparent transparent;
                        border-style: solid;
                        border-width: 10px 10px 0;
                        content: ' ';
                        display: block;
                        height: 0;
                        position: absolute;
                        right: 10px;
                        top: 18px;
                        width: 0
                    }

                    .arrow-open {
                        border-color: transparent transparent #2A2A86;
                        border-style: solid;
                        border-width: 0px 10px 10px;
                        content: ' ';
                        display: block;
                        height: 0;
                        position: absolute;
                        right: 10px;
                        top: 18px;
                        width: 0
                    }

                    .menu-open {
                        border-radius: 5px;
                        color: var(--primary-color-text);
                    }
                }
            }

            .filter {
                font-size: 18px;
                color: var(--primary-color-text);

                .Dropdown-control {
                    display: flex;
                    width: 206px;
                    border: 3px solid var(--primary-color-text);
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                    align-items: center;
                    padding-left: 30px;
                    color: var(--primary-color-text);
                    font-size: 18px;

                    .arrow-closed {
                        border-color: #2A2A86 transparent transparent;
                        border-style: solid;
                        border-width: 10px 10px 0;
                        content: ' ';
                        display: block;
                        height: 0;
                        position: absolute;
                        right: 10px;
                        top: 18px;
                        width: 0
                    }

                    .arrow-open {
                        border-color: transparent transparent #2A2A86;
                        border-style: solid;
                        border-width: 0px 10px 10px;
                        content: ' ';
                        display: block;
                        height: 0;
                        position: absolute;
                        right: 10px;
                        top: 18px;
                        width: 0
                    }

                    .menu-open {
                        border-radius: 5px;
                        height: 40px;
                    }
                }
            }
        }

        .button-wrapper-mobile {
            display: none;
        }
    }

    .statistic-wrapper {
        width: 100%;
        height: 550px;
        background-color: white;
        margin-bottom: 30px;
        border-radius: 20px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.65);
        justify-content: center;
        display: flex;

        .statistic-content {
            width: 95%;
            height: 100%;
            padding: 10px 0px 10px 0px
        }

        .statistic-content-M-mobile {
            display: none;
        }

        .statistic-content-L-mobile {
            display: none;
        }

        .statistic-content-tablet {
            display: none;
        }
    }
}

@include mixin.M-mobile {
    .container {
        margin-top: 15px;

        .title-of-page {
            display: flex;
            width: 60%;
            font-size: 18px;
            font-weight: 700;
        }

        .title-and-filter {
            display: flex;
            justify-content: space-between;
            margin: 20px 0px 20px 0px;

            .filter-wrapper {
                display: flex;
                gap: 5px;

                .type-of-filter {
                    font-size: 14px;

                    .Dropdown-control {
                        width: 120px;
                        height: 35px;
                        padding-left: 10px;
                        padding-right: 10px;
                        font-size: 14px;

                        .arrow-closed {
                            border-width: 7px 7px 0;
                            top: 13px;
                        }

                        .arrow-open {
                            border-width: 0px 7px 7px;
                            top: 13px;
                        }
                    }
                }

                .filter {
                    font-size: 14px;

                    .Dropdown-control {
                        width: 120px;
                        height: 35px;
                        padding-left: 10px;
                        padding-right: 10px;
                        font-size: 14px;

                        .arrow-closed {
                            border-width: 7px 7px 0;
                            top: 13px;
                        }

                        .arrow-open {
                            border-width: 0px 7px 7px;
                            top: 13px;
                        }

                        .menu-open {
                            border-radius: 5px;
                            height: 30px;
                        }
                    }
                }
            }

            .button-wrapper {
                display: none;
            }

            .button-wrapper-mobile {
                display: flex;

                .button-moible {
                    padding: 5px 10px;
                    border-radius: 10px;
                    background-color: var(--primary-color-text);
                }

            }
        }

        .statistic-wrapper {
            width: 100%;
            height: 550px;
            background-color: white;
            margin-bottom: 30px;
            border-radius: 20px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.65);
            justify-content: center;
            display: flex;

            .statistic-content {
                display: none;
            }

            .statistic-content-M-mobile {
                display: block;
                width: 98%;
                height: 100%;
                padding: 10px 0px 10px 0px;
            }
        }
    }
}

@include mixin.L-mobile {
    .container {
        margin-top: 15px;

        .title-of-page {
            display: flex;
            font-size: 18px;
            font-weight: 700;
        }

        .title-and-filter {
            display: flex;
            justify-content: space-between;
            margin: 20px 0px 20px 0px;

            .filter-wrapper {
                display: flex;
                gap: 5px;

                .type-of-filter {
                    font-size: 14px;

                    .Dropdown-control {
                        width: 120px;
                        height: 35px;
                        padding-left: 10px;
                        padding-right: 10px;
                        font-size: 14px;

                        .arrow-closed {
                            border-width: 7px 7px 0;
                            top: 13px;
                        }

                        .arrow-open {
                            border-width: 0px 7px 7px;
                            top: 13px;
                        }

                        .menu-open {
                            border-radius: 5px;
                            height: 30px;
                        }
                    }
                }

                .filter {
                    font-size: 14px;

                    .Dropdown-control {
                        width: 120px;
                        height: 35px;
                        padding-left: 10px;
                        padding-right: 10px;
                        font-size: 14px;

                        .arrow-closed {
                            border-width: 7px 7px 0;
                            top: 13px;
                        }

                        .arrow-open {
                            border-width: 0px 7px 7px;
                            top: 13px;
                        }

                        .menu-open {
                            border-radius: 5px;
                            height: 30px;
                        }
                    }
                }
            }

            .button-wrapper {
                display: none;
            }

            .button-wrapper-mobile {
                display: flex;

                .button-moible {
                    padding: 5px 10px;
                    border-radius: 10px;
                    background-color: var(--primary-color-text);
                }

            }
        }

        .statistic-wrapper {
            width: 100%;
            height: 550px;
            background-color: white;
            margin-bottom: 30px;
            border-radius: 20px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.65);
            justify-content: center;
            display: flex;

            .statistic-content {
                display: none;
            }

            .statistic-content-L-mobile {
                display: block;
                width: 98%;
                height: 100%;
                padding: 10px 0px 10px 0px;
            }
        }
    }
}

@include mixin.tablet {
    .container {

        .title-and-filter {

            .filter-wrapper {
                display: flex;

                .type-of-filter {
                    font-size: 16px;

                    .Dropdown-control {
                        height: 45px;
                        font-size: 16px;
                    }
                }

                .filter {
                    font-size: 16px;

                    .Dropdown-control {
                        height: 45px;
                        font-size: 16px;
                    }
                }
            }
        }

        .statistic-wrapper {
            width: 100%;
            height: 550px;
            background-color: white;
            margin-bottom: 30px;
            border-radius: 20px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.65);
            justify-content: center;
            display: flex;

            .statistic-content {
                display: none;
            }

            .statistic-content-tablet {
                display: block;
                width: 98%;
                height: 100%;
                padding: 10px 0px 10px 0px;
            }
        }
    }
}