.container {
    margin-top: 30px;

    .title-of-page {
        display: flex;
        font-size: 25px;
        font-weight: 700;
    }

    .title-and-filter {
        display: flex;
        justify-content: space-between;
        margin: 30px 0px 30px 0px;

        .filter-wrapper {
            display: flex;
            gap: 20px;

            .type-of-filter {
                font-size: 18px;

                .Dropdown-control {
                    display: flex;
                    width: 206px;
                    border: 3px solid var(--primary-color-text);
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                    align-items: center;
                    padding-left: 30px;
                    color: var(--primary-color-text);
                    font-size: 18px;

                    .arrow-closed {
                        border-color: #2A2A86 transparent transparent;
                        border-style: solid;
                        border-width: 10px 10px 0;
                        content: ' ';
                        display: block;
                        height: 0;
                        position: absolute;
                        right: 10px;
                        top: 18px;
                        width: 0
                    }

                    .arrow-open {
                        border-color: transparent transparent #2A2A86;
                        border-style: solid;
                        border-width: 0px 10px 10px;
                        content: ' ';
                        display: block;
                        height: 0;
                        position: absolute;
                        right: 10px;
                        top: 18px;
                        width: 0
                    }

                    .menu-open {
                        border-radius: 5px;
                        color: var(--primary-color-text);
                    }
                }
            }

            .filter {
                font-size: 18px;
                color: var(--primary-color-text);

                .Dropdown-control {
                    display: flex;
                    width: 206px;
                    border: 3px solid var(--primary-color-text);
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                    align-items: center;
                    padding-left: 30px;
                    color: var(--primary-color-text);
                    font-size: 18px;

                    .arrow-closed {
                        border-color: #2A2A86 transparent transparent;
                        border-style: solid;
                        border-width: 10px 10px 0;
                        content: ' ';
                        display: block;
                        height: 0;
                        position: absolute;
                        right: 10px;
                        top: 18px;
                        width: 0
                    }

                    .arrow-open {
                        border-color: transparent transparent #2A2A86;
                        border-style: solid;
                        border-width: 0px 10px 10px;
                        content: ' ';
                        display: block;
                        height: 0;
                        position: absolute;
                        right: 10px;
                        top: 18px;
                        width: 0
                    }

                    .menu-open {
                        border-radius: 5px;
                        height: 40px;
                    }
                }
            }
        }
    }

    .statistic-wrapper {
        width: 100%;
        height: 550px;
        background-color: white;
        margin-bottom: 30px;
        border-radius: 20px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.65);
        justify-content: center;
        display: flex;

        .statistic-content {
            width: 95%;
            height: 100%;
            padding: 10px 0px 10px 0px
        }
    }
}