.wrapper {
    display: flex;
    align-items: center;
}

.avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    flex: 1;
    margin-left: 14px;
}

.name {
    font-size: 20px;
    font-weight: 700;
}

.role {
    font-size: 18px;
    font-weight: 600;
    color: rgba(42, 42, 134, 0.2);
}