@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


:root {
    --primary: #FCAF17;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary-color-text: #2A2A86;
    --red: #EF0D0D;
    --green: #319B2F;
    --hover-color: #AAC9FF;
    --search-border-radius: 30px;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #2A2A86;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}