@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');



:root {
    --primary: #FCAF17;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary-color-text: #2A2A86;
    --red: #EF0D0D;
    --green: #319B2F;
    --hover-color: #AAC9FF;
    --search-border-radius: 30px;
    --background-color: #F5F5F5;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #2A2A86;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}