.container {
    display: flex;
    width: 100%;
    height: 650px;
}

.chat-list-container {
    width: 30%;
    height: 100%;
    border-right: 2px solid #D9D9D9;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-flow: column;
}

.message-content-container {
    width: 70%;
}

.search {
    display: flex;
    width: 100%;
    height: 45px;
    margin-top: 25px;
    padding-left: 7px;
    border-radius: 15px;
    background-color: rgba(42, 42, 134, 0.80);

    input {
        flex: 1;
        height: 100%;
        padding-right: 36px;
        color: white;
        font-size: 15px;
        border: none;
        outline: none;
        background-color: transparent;
    }
}

.search-btn {
    font-size: 30px;
    background-color: transparent;
    margin-right: 16px;
    color: white;
    cursor: pointer;
}

.title {
    margin-top: 20px;
    margin-bottom: 5px;
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.user-list {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: scroll;
    padding-right: 10px;
}

.user-list::-webkit-scrollbar {
    width: 8px;
}

.user-list::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 20px;
}

.user-list::-webkit-scrollbar-track {
    background: #D9D9D9;
}

.message-content-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 17px 25px 10px 15px;

    .message-header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 23px;
        border-bottom: 2px solid #D9D9D9;
    }

    .message-content::-webkit-scrollbar {
        width: 8px;
    }

    .message-content::-webkit-scrollbar-thumb {
        background-color: gray;
        border-radius: 20px;
    }

    ::-webkit-scrollbar-track {
        background: #D9D9D9;
    }

    .message-content {
        flex: auto;
        overflow-y: scroll;
        margin: 10px 0px 10px 0px;
        padding: 0px 10px 15px 10px;
        gap: 6px;
        display: flex;
        flex-direction: column;

        .owner {
            display: flex;
            flex-direction: row-reverse;

            .image-wrapper {
                border: 1px solid #D9D9D9;
                border-radius: 20px;

                .image {
                    max-width: 280px;
                    max-height: 280px;
                    min-width: fit-content;
                    min-height: fit-content;
                    object-fit: cover;
                }
            }

            .text-wrapper {
                background-color: rgb(0, 132, 255);
                max-width: 50%;
                padding: 8px 12px;
                border-radius: 18px 18px 0px 18px;
                color: white;
            }
        }

        .other {
            display: flex;

            .image-wrapper {
                border: 1px solid #D9D9D9;
                border-radius: 20px;

                .image {
                    max-width: 280px;
                    max-height: 280px;
                    min-width: fit-content;
                    min-height: fit-content;
                    object-fit: cover;
                }
            }

            .text-wrapper {
                background-color: #F0F0F0;
                color: black;
                max-width: 70%;
                flex-wrap: wrap;
                padding: 8px 12px;
                border-radius: 18px 18px 18px 0px;
            }
        }
    }

    .message-input {
        height: 50px;
        display: flex;
        gap: 15px;

        .photo-button {
            border-radius: 50%;
            display: flex;
            width: 50px;
            height: 50px;
            background-color: #D5E3F7;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            .input-file {
                display: none;
            }

            .camera-icon {
                display: flex;
                align-items: center;
                cursor: pointer;
            }
        }

        .input-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: calc(100% - 65px);
            border-radius: 30px;
            background-color: rgba(87, 144, 223, 0.25);
            padding: 0px 20px;

            input {
                width: 95%;
                font-size: 18px;
                font-family: 'Nunito Sans', sans-serif;
                background: transparent;
            }

            .send-button {
                cursor: pointer;
            }
        }
    }
}


.exit-btn {
    display: flex;
    width: 56px;
    height: 56px;
    background-color: var(--primary-color-text);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.no-message-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.no-chat-message-notification {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 29px;
}

.notification-text {
    font-weight: 600;
    font-size: 20px;
}