.wrapper {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.header {
    padding-right: 3%;
    flex: 0 1 auto;
}

.content {
    flex: 1 1 auto;
    margin-top: 18px;
    background-color: white;
}

.sidebar {
    width: 5%;
    height: 100%;
    display: flex;
    padding-top: 90px;
    background-image: url("../../../images/background-header.jpg");
    background-size: cover;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.container {
    background-color: #F5F5F5;
    width: 95%;
    padding-top: 26px;
    margin-left: 5%;
    overflow: auto;
    display: flex;
    flex-flow: column;
    height: 100vh;
}