.content {
    margin-top: 36px;
}

.sortbars-and-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sortbars {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.dropdown-bar {
    width: 341px;
    height: 55px;
}

.Dropdown-control {
    display: flex;
    width: 340px;
    height: 55px;
    border: 2px solid var(--primary-color-text);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    align-items: center;
    padding-left: 30px;
    color: var(--primary-color-text);
    font-size: 18px;
    font-weight: 500;
}

.Dropdown-control-season {
    display: flex;
    width: 206px;
    height: 55px;
    border: 2px solid var(--primary-color-text);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    align-items: center;
    padding-left: 30px;
    color: var(--primary-color-text);
    font-size: 18px;
    font-weight: 500;
}

.arrow-closed {
    border-color: #2A2A86 transparent transparent;
    border-style: solid;
    border-width: 10px 10px 0;
    content: ' ';
    display: block;
    height: 0;
    position: absolute;
    right: 10px;
    top: 20px;
    width: 0
}

.arrow-open {
    border-color: transparent transparent #2A2A86;
    border-style: solid;
    border-width: 0px 10px 10px;
    content: ' ';
    display: block;
    height: 0;
    position: absolute;
    right: 10px;
    top: 20px;
    width: 0
}

.menu-open {
    border-radius: 5px;
}

.add-product-btn {
    background-color: var(--primary-color-text);
}

.product-list {
    display: grid;
    margin-top: 40px;
    grid-template-columns: auto auto auto auto;
    gap: 90px;
}