@use '../../assets/responsiveSize/mixin' as mixin;

.content {
    margin-top: 36px;

    .sortbars-and-button {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .sortbars {
            display: flex;
            flex-direction: row;
            gap: 60px;

            .Dropdown-control {
                display: flex;
                width: 340px;
                height: 55px;
                border: 3px solid var(--primary-color-text);
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                align-items: center;
                padding-left: 30px;
                color: var(--primary-color-text);
                font-size: 18px;
                font-weight: 500;

                .arrow-closed {
                    border-color: #2A2A86 transparent transparent;
                    border-style: solid;
                    border-width: 10px 10px 0;
                    content: ' ';
                    display: block;
                    height: 0;
                    position: absolute;
                    right: 10px;
                    top: 20px;
                    width: 0
                }

                .arrow-open {
                    border-color: transparent transparent #2A2A86;
                    border-style: solid;
                    border-width: 0px 10px 10px;
                    content: ' ';
                    display: block;
                    height: 0;
                    position: absolute;
                    right: 10px;
                    top: 20px;
                    width: 0
                }

                .menu-open {
                    border-radius: 5px;
                }
            }

            .Dropdown-control-season {
                display: flex;
                width: 206px;
                height: 55px;
                border: 3px solid var(--primary-color-text);
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                align-items: center;
                padding-left: 30px;
                color: var(--primary-color-text);
                font-size: 18px;
                font-weight: 500;

                .arrow-closed {
                    border-color: #2A2A86 transparent transparent;
                    border-style: solid;
                    border-width: 10px 10px 0;
                    content: ' ';
                    display: block;
                    height: 0;
                    position: absolute;
                    right: 10px;
                    top: 20px;
                    width: 0
                }

                .arrow-open {
                    border-color: transparent transparent #2A2A86;
                    border-style: solid;
                    border-width: 0px 10px 10px;
                    content: ' ';
                    display: block;
                    height: 0;
                    position: absolute;
                    right: 10px;
                    top: 20px;
                    width: 0
                }

                .menu-open {
                    border-radius: 5px;
                }
            }
        }

        .add-product-btn {
            background-color: var(--primary-color-text);
        }

        .add-product-btn-mobile {
            display: none;
        }

        .add-product-btn-mobile-icon {
            display: none;
        }
    }

    .product-table-wrapper {
        margin-top: 35px;
        margin-bottom: 30px;
        height: 714px;
        display: flex;
        justify-content: center;
        background-color: white;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.65);
        border-radius: 20px;

        .product-table {
            width: 95%;
            margin-top: 20px;
            display: flex;
            flex-direction: column;

            .functions {
                margin-bottom: 20px;
                display: flex;
                justify-content: space-between;

                .delete-btn-mobile {
                    display: none;
                }

                .Dropdown-control-sort {
                    display: flex;
                    width: 350px;
                    border: 3px solid var(--primary-color-text);
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                    align-items: center;
                    padding-left: 20px;
                    color: var(--primary-color-text);
                    font-size: 18px;
                    font-weight: 500;

                    .arrow-closed-sort {
                        border-color: #2A2A86 transparent transparent;
                        border-style: solid;
                        border-width: 10px 10px 0;
                        content: ' ';
                        display: block;
                        height: 0;
                        position: absolute;
                        right: 10px;
                        top: 17px;
                        width: 0
                    }

                    .arrow-open-sort {
                        border-color: transparent transparent #2A2A86;
                        border-style: solid;
                        border-width: 0px 10px 10px;
                        content: ' ';
                        display: block;
                        height: 0;
                        position: absolute;
                        right: 10px;
                        top: 17px;
                        width: 0
                    }

                    .menu-open {
                        border-radius: 5px;
                    }
                }
            }

            .table-content {
                width: 100%;
                height: 86%;
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                overflow-y: scroll;
            }
        }
    }

    .pagination-container {
        width: 100%;
        justify-content: center;
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;

        .pagination {
            width: auto;
            display: flex;
            justify-content: space-between;
            list-style: none;
            cursor: pointer;

            & a {
                padding: 10px;
                border: 1px solid transparent;
                color: #505050;

                &:hover {
                    color: #3965ce !important;
                    border: 1px solid #cacaca;
                    background-color: #e3eaf3;
                }
            }
        }


        .paginationLink {
            font-weight: bold;

            &:hover {
                background-color: red;
            }
        }

        .paginationActive {
            & a {
                color: #505050;
                border: 1px solid #cacaca;
                background: linear-gradient(to bottom, #fff 0, #eaeaea 100%);
            }
        }

        .paginationDisabled {
            & a {
                color: #cacaca;
            }
        }
    }


}

@include mixin.M-mobile {
    .content {
        margin-top: 15px;

        .sortbars-and-button {
            gap: 5px;

            .sortbars {
                gap: 5px;
                width: 100%;

                .Dropdown-control {
                    width: 120px;
                    height: 30px;
                    font-size: 14px;
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                    padding-left: 15px;

                    .arrow-closed {
                        top: 10px;
                        border-width: 7px 7px 0px;
                    }

                    .arrow-open {
                        top: 10px;
                        border-width: 0px 7px 7px;
                    }

                    .menu-open {
                        font-size: 14px;
                    }
                }

                .Dropdown-control-season {
                    width: 140px;
                    height: 30px;
                    font-size: 14px;
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                    padding-left: 15px;


                    .arrow-closed {
                        top: 10px;
                        border-width: 7px 7px 0px;
                    }

                    .arrow-open {
                        top: 10px;
                        border-width: 0px 7px 7px;
                    }
                }
            }

            .add-product-btn {
                display: none;
            }

            .add-product-btn-mobile {
                display: none;
            }

            .add-product-btn-mobile-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--primary-color-text);
                padding: 5px 8px;
                border-radius: 10px;
            }
        }

        .product-table-wrapper {
            margin-top: 15px;

            .product-table {
                margin-top: 10px;

                .functions {
                    margin-bottom: 0px;

                    .delete-btn {
                        display: none;
                    }

                    .delete-btn-mobile {
                        display: flex;
                        background-color: var(--red);
                        padding: 0px 10px;
                        font-family: 'Nunito Sans', sans-serif;
                        color: white;
                        border-radius: 10px;
                        align-items: center;
                        font-size: 14px;

                    }

                    .Dropdown-control-sort {
                        width: 100%;
                        height: 30px;
                        padding-left: 10px;
                        font-size: 14px;

                        .arrow-closed-sort {
                            top: 10px;
                            border-width: 7px 7px 0px;
                        }

                        .arrow-open-sort {
                            top: 10px;
                            border-width: 0px 7px 7px;
                        }

                        .menu-open {}
                    }
                }

                .table-content {}
            }
        }
    }
}

@include mixin.L-mobile {
    .content {
        margin-top: 15px;

        .sortbars-and-button {
            gap: 15px;

            .sortbars {
                gap: 10px;

                .Dropdown-control {
                    width: 120px;
                    height: 35px;
                    font-size: 14px;
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                    padding-left: 15px;

                    .arrow-closed {
                        top: 13px;
                        border-width: 7px 7px 0px;
                    }

                    .arrow-open {
                        top: 13px;
                        border-width: 0px 7px 7px;
                    }

                    .menu-open {
                        font-size: 14px;
                    }
                }

                .Dropdown-control-season {
                    width: 170px;
                    height: 35px;
                    font-size: 14px;
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                    padding-left: 15px;


                    .arrow-closed {
                        top: 13px;
                        border-width: 7px 7px 0px;
                    }

                    .arrow-open {
                        top: 13px;
                        border-width: 0px 7px 7px;
                    }
                }
            }

            .add-product-btn {
                display: none;
            }

            .add-product-btn-mobile {
                display: inline-flex;
                font-size: 14px;
            }

            .add-product-btn-mobile-icon {
                display: none;
            }
        }

        .product-table-wrapper {
            margin-top: 15px;

            .product-table {
                margin-top: 10px;

                .functions {
                    margin-bottom: 0px;

                    .delete-btn {
                        display: none;
                    }

                    .delete-btn-mobile {
                        display: flex;
                        background-color: var(--red);
                        padding: 0px 10px;
                        font-family: 'Nunito Sans', sans-serif;
                        color: white;
                        border-radius: 10px;
                        align-items: center;
                        font-size: 14px;

                    }

                    .Dropdown-control-sort {
                        width: 100%;
                        height: 35px;
                        padding-left: 10px;
                        font-size: 14px;

                        .arrow-closed-sort {
                            top: 13px;
                            border-width: 7px 7px 0px;
                        }

                        .arrow-open-sort {
                            top: 13px;
                            border-width: 0px 7px 7px;
                        }

                        .menu-open {}
                    }
                }

                .table-content {}
            }
        }
    }
}

@include mixin.tablet {
    .content {
        margin-top: 15px;

        .sortbars-and-button {
            gap: 15px;

            .sortbars {
                gap: 20px;

                .Dropdown-control {
                    width: 240px;
                    height: 38px;
                    font-size: 16px;
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                    padding-left: 15px;

                    .arrow-closed {
                        top: 13px;
                        border-width: 7px 7px 0px;
                    }

                    .arrow-open {
                        top: 13px;
                        border-width: 0px 7px 7px;
                    }

                    .menu-open {
                        font-size: 14px;
                    }
                }

                .Dropdown-control-season {
                    width: 150px;
                    height: 38px;
                    font-size: 16px;
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                    padding-left: 15px;


                    .arrow-closed {
                        top: 13px;
                        border-width: 7px 7px 0px;
                    }

                    .arrow-open {
                        top: 13px;
                        border-width: 0px 7px 7px;
                    }
                }
            }

            .add-product-btn {
                display: none;
            }

            .add-product-btn-mobile {
                display: inline-flex;
                font-size: 16px;
            }

            .add-product-btn-mobile-icon {
                display: none;
            }
        }

        .product-table-wrapper {
            margin-top: 15px;

            .product-table {
                margin-top: 10px;

                .functions {
                    margin-bottom: 0px;

                    .delete-btn {
                        display: none;
                    }

                    .delete-btn-mobile {
                        display: flex;
                        background-color: var(--red);
                        padding: 0px 10px;
                        font-family: 'Nunito Sans', sans-serif;
                        color: white;
                        border-radius: 10px;
                        align-items: center;
                        font-size: 16px;

                    }

                    .Dropdown-control-sort {
                        width: 100%;
                        height: 38px;
                        padding-left: 10px;
                        font-size: 16px;

                        .arrow-closed-sort {
                            top: 13px;
                            border-width: 7px 7px 0px;
                        }

                        .arrow-open-sort {
                            top: 13px;
                            border-width: 0px 7px 7px;
                        }

                        .menu-open {}
                    }
                }

                .table-content {}
            }
        }
    }
}

@include mixin.desktop {
    .content {
        margin-top: 15px;

        .sortbars-and-button {
            gap: 15px;

            .sortbars {
                gap: 20px;

                .Dropdown-control {
                    width: 300px;
                    height: 50px;
                    font-size: 18px;
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                    padding-left: 15px;

                    .arrow-closed {
                        top: 17px;
                        border-width: 10px 10px 0px;
                    }

                    .arrow-open {
                        top: 17px;
                        border-width: 0px 10px 10px;
                    }

                    .menu-open {
                        font-size: 18px;
                    }
                }

                .Dropdown-control-season {
                    width: 170px;
                    height: 50px;
                    font-size: 18px;
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                    padding-left: 15px;


                    .arrow-closed {
                        top: 17px;
                        border-width: 10px 10px 0px;
                    }

                    .arrow-open {
                        top: 17px;
                        border-width: 0px 10px 10px;
                    }
                }
            }

        }

        .product-table-wrapper {
            margin-top: 15px;

            .product-table {
                margin-top: 10px;

                .functions {
                    margin-bottom: 0px;

                    .Dropdown-control-sort {
                        width: 100%;
                        height: 50px;
                        padding-left: 10px;
                        font-size: 18px;

                        .arrow-closed-sort {
                            top: 17px;
                            border-width: 10px 10px 0px;
                        }

                        .arrow-open-sort {
                            top: 17px;
                            border-width: 0px 10px 10px;
                        }

                        .menu-open {}
                    }
                }

                .table-content {}
            }
        }
    }
}