.container {
    margin-top: 38px;
}

.search-and-addbutton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.event-list {
    display: grid;
    margin-top: 40px;
    grid-template-columns: auto auto;
    gap: 48px;
    justify-content: space-between;
}