.wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebar {
    width: 15%;
    display: flex;
    padding-left: 28px;
    padding-right: 28px;
    background-image: url("../../../images/background-header.jpg");
    background-size: cover;
}

.container {
    display: flex;
    background-color: #F5F5F5;
    flex-direction: column;
    width: 100%;
    padding-top: 26px;
    padding-left: 38px;
    padding-right: 30px;
}