.wrapper {
    display: flex;
    align-items: center;
    height: 15%;

    &:hover {
        background-color: var(--hover-color);
        border-radius: 10px;
        cursor: pointer;
    }
}

.avatar-wrapper {
    height: 56px;
}

.avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    width: 80%;
    margin-left: 14px;
}

.name {
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.role {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
    color: rgba(42, 42, 134, 0.30);
}

.text {
    display: block;
    width: 85%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}