@use '../../assets/responsiveSize/mixin' as mixin;

.title {
    display: flex;
    gap: 13px;
    margin-top: 20px;

    .text-title {
        font-size: 20px;
        font-weight: 600;
    }
}

.container {
    margin-top: 20px;

    .order-status {
        .title {
            display: flex;
            gap: 13px;
            margin-top: 20px;

            .icon-status {
                background: url('../../images/Ok.png'), lightgray 50% / contain no-repeat;
                background-color: transparent;
                width: 30px;
                height: 30px;
            }

            .text-title {
                font-size: 20px;
                font-weight: 600;
            }
        }

        .status-bar-container {
            display: flex;
            justify-content: center;
            margin-top: 40px;

            .status-bar {
                display: flex;
                align-items: center;
                gap: 15px;
                margin-bottom: 40px;

                .circle {
                    display: flex;
                    width: 60px;
                    height: 60px;
                    background-color: white;
                    color: var(--primary-color-text);
                    border: 1px solid var(--primary-color-text);
                    font-size: 20px;
                    font-weight: 700;
                    border-radius: 50%;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }

                .circle-active {
                    display: flex;
                    width: 60px;
                    height: 60px;
                    background-color: var(--primary-color-text);
                    color: white;
                    font-size: 20px;
                    font-weight: 700;
                    border-radius: 50%;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }

                .line {
                    border: 2px solid var(--primary-color-text);
                    width: 100px;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }

        .status-text {
            display: flex;
            justify-content: center;
            font-size: 20px;

            .status-yellow {
                color: var(--primary);
                font-weight: 700;
            }

            .status-green {
                color: var(--green);
                font-weight: 700;
            }

            .status-red {
                color: var(--red);
                font-weight: 700;
            }

            .status-blue {
                color: var(--primary-color-text);
                font-weight: 700;
            }

            .status-lightblue {
                color: #29ADB2;
                font-weight: 700;
            }

            .status-lightgreen {
                color: #38E54D;
                font-weight: 700;
            }
        }
    }

    .customer-info {
        margin-bottom: 32px;

        .icon-customer-info {
            background: url('../../images/HomeAddress.png'), lightgray 50% / contain no-repeat;
            background-color: transparent;
            width: 30px;
            height: 30px;
        }

        .detail-info {
            display: flex;
            gap: 70px;
            margin-top: 30px;

            .detail-title {
                display: flex;
                flex-direction: column;
                gap: 27px;

                .title-info {
                    font-weight: 700;
                }
            }

            .detail {
                display: flex;
                flex-direction: column;
                gap: 27px;

                .info {
                    font-style: italic;
                }
            }
        }
    }

    .delivery-payment {
        margin-bottom: 40px;

        .icon-delivery-payment {
            background: url('../../images/InTransit.png'), lightgray 50% / contain no-repeat;
            background-color: transparent;
            width: 30px;
            height: 30px;
        }

        .content {
            display: flex;
            gap: 70px;
            margin-top: 30px;

            .content-title {
                display: flex;
                flex-direction: column;
                gap: 20px;
                font-weight: 700;
            }

            .content-detail {
                display: flex;
                flex-direction: column;
                gap: 20px;
                font-style: italic;

                .sum-order {
                    color: var(--red);
                }
            }
        }
    }
}

@include mixin.M-mobile {
    .title {
        align-items: center;
        gap: 5px;
        margin-top: 15px;

        .text-title {
            font-size: 16px;
        }
    }

    .container {
        margin-top: 15px;

        .order-status {
            .title {
                align-items: center;
                gap: 5px;
                margin-top: 0px;

                .text-title {
                    font-size: 16px;
                }
            }

            .status-bar-container {
                margin-top: 15px;

                .status-bar {
                    align-items: center;
                    gap: 10px;
                    margin-bottom: 15px;

                    .circle {
                        width: 25px;
                        height: 25px;
                        font-size: 12px;
                    }

                    .circle-active {
                        width: 25px;
                        height: 25px;
                        font-size: 12px;
                    }

                    .line {
                        width: 15px;
                    }
                }
            }

            .status-text {
                font-size: 15px;
            }
        }

        .customer-info {
            margin-bottom: 15px;

            .detail-info {
                gap: 10px;
                margin-top: 15px;

                .detail-title {
                    gap: 15px;
                    width: 45%;
                }

                .detail {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }
            }
        }

        .delivery-payment {
            .content {
                gap: 45px;
                margin-top: 15px;

                .content-title {
                    gap: 15px;
                    font-size: 14px;
                }

                .content-detail {
                    gap: 15px;
                    font-size: 14px;
                }
            }
        }
    }
}

@include mixin.L-mobile {
    .title {
        align-items: center;
        gap: 5px;
        margin-top: 15px;

        .text-title {
            font-size: 16px;
        }
    }

    .container {
        margin-top: 15px;

        .order-status {
            .title {
                align-items: center;
                gap: 5px;
                margin-top: 0px;

                .text-title {
                    font-size: 16px;
                }
            }

            .status-bar-container {
                margin-top: 15px;

                .status-bar {
                    align-items: center;
                    gap: 10px;
                    margin-bottom: 15px;

                    .circle {
                        width: 25px;
                        height: 25px;
                        font-size: 12px;
                    }

                    .circle-active {
                        width: 25px;
                        height: 25px;
                        font-size: 12px;
                    }

                    .line {
                        width: 15px;
                    }
                }
            }

            .status-text {
                font-size: 15px;
            }
        }

        .customer-info {
            margin-bottom: 15px;

            .detail-info {
                gap: 45px;
                margin-top: 15px;

                .detail-title {
                    gap: 15px;
                }

                .detail {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }
            }
        }

        .delivery-payment {
            .content {
                gap: 45px;
                margin-top: 15px;

                .content-title {
                    gap: 15px;
                    font-size: 14px;
                }

                .content-detail {
                    gap: 15px;
                    font-size: 14px;
                }
            }
        }
    }
}

@include mixin.tablet {
    .title {
        align-items: center;
        margin-top: 15px;

        .text-title {
            font-size: 18px;
        }
    }

    .container {
        .order-status {
            .title {
                align-items: center;
                margin-top: 0px;

                .text-title {
                    font-size: 18px;
                }
            }

            .status-bar-container {
                margin-top: 15px;

                .status-bar {
                    gap: 10px;
                    margin-bottom: 15px;

                    .circle {
                        width: 55px;
                        height: 55px;
                        font-size: 18px;
                    }

                    .circle-active {
                        width: 55px;
                        height: 55px;
                        font-size: 18px;
                    }

                    .line {
                        width: 50px;
                    }
                }
            }

            .status-text {
                font-size: 18px;
            }
        }

        .customer-info {
            margin-bottom: 15px;

            .detail-info {
                margin-top: 15px;

                .detail-title {
                    gap: 25px;
                }

                .detail {
                    gap: 25px;
                }
            }
        }

        .delivery-payment {
            .content {
                margin-top: 15px;

                .content-title {
                    gap: 25px;
                    font-size: 16px;
                }

                .content-detail {
                    gap: 25px;
                    font-size: 16px;
                }
            }
        }
    }
}