.menu-item {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    align-items: center;
    margin-bottom: 40px;
    transition: background-color ease-in-out 200ms;

    &:hover {
        color: var(--primary);
    }
}

.menu-item.active {
    color: var(--primary);
}

.title {
    margin-left: 10px;
}