.product-wrapper {
    display: flex;
    position: relative;
    width: 234px;
    height: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.60);
}

.image {
    width: 220px;
    height: 290px;
}

.content {
    background-color: white;
    width: 234px;
    padding: 13px 12px 13px 12px;
}

.price-and-star {
    display: flex;
    gap: 38px;
}

.delete-btn {
    display: flex;
    position: relative;
    top: -15px;
    left: -20px;
    height: 35px;
    cursor: pointer;
}

.description {
    color: black;
}

.price {
    color: black;
    font-weight: bold;
}