.product-wrapper {
    width: 234px;
    height: 307px;
}

.image {
    width: 220px;
    height: 214px;
}

.content {
    background-color: white;
}

.price-and-star {
    display: flex;
    gap: 38px;
}