@use '../../../assets/responsiveSize/mixin' as mixin;

.wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;

    .sidebar {
        width: 14%;
        height: 100%;
        display: flex;
        padding-left: 28px;
        padding-right: 28px;
        background-image: url("../../../images/background-header.jpg");
        background-size: cover;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
    }

    .container {
        display: flex;
        background-color: #F5F5F5;
        flex-direction: column;
        width: 100%;
        padding-top: 26px;
        padding-left: 38px;
        padding-right: 30px;
        margin-left: 14%;
        overflow: auto;
    }
}

@include mixin.mobile {
    .wrapper {
        font-size: 14px;

        .sidebar {
            display: none;
        }

        .container {
            margin-left: 0;
            padding: 10px 10px;
        }
    }
}

@include mixin.tablet {
    .wrapper {
        font-size: 16px;

        .sidebar {
            display: none;
        }

        .container {
            margin-left: 0;
            padding: 10px 15px;
        }
    }
}

@include mixin.desktop {
    .wrapper {
        font-size: 18px;

        .sidebar {
            display: none;
        }

        .container {
            margin-left: 0;
            padding: 10px 20px;
        }
    }
}